*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Selecciona al primer hijo de la lista li */
ul li:first-child{
    color: blue;
    font-weight: bold;
}

/* Selecciona al segundo hijo de la lista li */
ul li:nth-child(2){
    color: red;
    font-weight: bold;
}

/* Selecciona al ultimo hijo de la lista li */
ul li:last-child{
    color: green;
    font-weight: bold;
}

/* :link aplica estilos solo si no se ha visitado el enlace */
#link:link{
    font-size: 30px;
    color: red;
}

/* :visited aplica estilos solo si ya hemos visitado el enlace */
#link:visited{
    color: rebeccapurple;
}

/* :hover aplica estilos solo si ya ponemos el cursor en el enlace */
#link:hover{
    color: blue;
}

/* :active aplica estilos solo si mantenemos pulsado el enlace */
#link:active{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="text"]{
    margin-top: 20px;
    padding: 10px;
}

/* :focus aplica estilos solo si nos mantenemos escribiendo
o mainipulando en el input */
input[type="text"]:focus{
    border: 4px dashed black;
}