*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main{
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid #ccc;
}

#header{
    width: 100%;
    height: 100px;
    background-color: rgb(26, 164, 143);
    text-align: center;
    line-height: 90px;
}

#menu {
    background: lightgray;
}

#menu ul li{
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}

#menu ul li a{
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li:hover{
    background-color: rgb(18, 111, 97);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

.clear-fix{
    float: none;
    clear: both;
}

#content{
    width: 70%;
    float: left;
}

#lateral{
    width: 29.5%;
    border: 1px solid;
    float: right;
    display: inline;
    min-height: 500px;
    text-align: center;
}

/************** Aplicacion de la sombra en cajas al exterior **************/
#content .box{
    width: 40%;
    height: 250px;
    background-color: rebeccapurple;
    border: 5px solid black;
    color: black;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 210px;

    /* Para cajas */
    /* Posicion 1: Eje X */
    /* Posicion 2: Eje Y */
    /* Posicion 3: Difuminacion */
    box-shadow: 1px 1px 15px gray;

/************** Redondeo de Caja **************/
    /* Para todos los bordes */
    border-radius: 50px;

    /* Para todos los bordes de manera individual */
    border-radius: 10px 40px 10px 40px;    
}

/************** Aplicacion de la sombra en cajas al interior **************/
#box-intern{
    box-shadow: 0px 0px 20px black inset !important;
}

/************** Aplicacion de la sombra en texto **************/
#content > h1{
    text-align: center;
    border-bottom: #ccc;
    padding: 15px;
    color: #444;

    /* Para texto */
    /* Posicion 1: Eje X */
    /* Posicion 2: Eje Y */
    /* Posicion 3: Difuminacion */
    text-shadow: 1px 1px 5px gray;
}

#footer{
    width: 100%;
    height: 50px;
    line-height: 55px;
    background: #eee;
    text-align: center;
    color: #444;
    border-top: 1px solid #ccc;
}